

.header{
    background: #dddddd;
}

.back {
    display: block;
    /* box-sizing: border-box; */
    float: right;

}


.trangle_training{
    margin: 10px;

}


span,h2{
    /* clear: left; */
    display: inline-block;
}



.trangle_training{
    /* 这个元素要如何用好？ */
    display: inline-block;
}

.unit{
    border: 1px dashed black;
    margin: 5px;
    padding: 10px;
    width: 20%;
    float: left;
    /* clear: left; */
}

.normal_border{
    /* 为什么inline无效，inline-block有效？ */
    display:inline-block;
    /* float: left
    float: right */

    /* 为啥这里又可以生效了？ */
    /* display-inside: inline-block; */
}

#triangle-01{
    width: 20px;
    height: 20px;
    border-top: 50px solid blue;
    border-right: 50px solid red;
    border-bottom: 50px solid green;
    border-left: 50px solid yellow;
    content: "test";
    /* display:inline; */
}

#triangle00{
    /* solid 的作用是？ */
    border-top: 50px  blue;
    border-right: 50px solid red;
    border-bottom: 50px solid green;
    border-left: 50px solid yellow;
    content: "test"
}

#triangle01{
    /* solid 的作用是？ */
    border-top: 50px solid blue;
    border-right: 50px solid red;
    border-bottom: 50px solid green;
    border-left: 50px solid yellow;
}

#triangle02{
    width: 0;
    height: 0;
    border-top: 50px solid blue;
    border-right: 50px solid red;
    border-bottom: 50px solid green;
    border-left: 50px solid yellow;
}

#triangle03{
    width: 0;
    height: 0;
    border-top: 50px blue solid transparent;
    border-right: 50px solid red;
    border-bottom: 50px solid green;
    border-left: 50px solid yellow;
}

#triangle04{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid red;
    border-bottom: 50px solid green;
    border-left: 50px solid yellow;
}

#triangle05{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid red transparent;
    border-bottom: 50px solid green;
    border-left: 50px solid yellow;
}

#triangle06{
    width: 0;
    height: 0;
    border-top: 50px solid grey transparent;
    border-right: 50px solid red;
    border-bottom: 50px solid green transparent;
    border-left: 50px solid yellow transparent;
}

/* border 属性的solid值的含义？ */


#triangle07{
    /* solid 的作用是？ */
    width: 100px;
    height: 20px;
    border-top: 10px solid blue;
    border-right: 100px solid red;
    border-bottom: 25px solid green;
    border-left: 50px solid yellow;
    content: "test"
}

#triangle08{
    /* solid 的作用是？ */
    width: 0px;
    height: 0px;
    border-top: 10px solid blue;
    border-right: 100px solid red;
    border-bottom: 25px solid green;
    border-left: 50px solid yellow;
    content: "test"
}

#triangle09{
    /* solid 的作用是？ */
    width: 0px;
    height: 0px;
    border-top: 10px solid blue transparent;
    border-right: 50px solid red transparent;
    border-bottom: 50px solid green;
    border-left: 50px solid yellow;
    content: "test"
}

#triangle10{
    width: 0px;
    height: 0px;
    /* border-top: 50px solid blue transparent;
    border-right: 50px solid red transparent;
    border-bottom: 50px solid green transparent; */
    border: 50px solid transparent;
    border-left: 100px solid yellow;
}

#round01{
    width: 100px;
    height: 100px;
    background-color:red;
    border: 5px solid black;
    border-radius: 100px;
}

#round02{
    width: 100px;
    height: 100px;
    background-color:red;
    border-radius: 100px;
    border: 5px solid transparent;
}

#round03{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    border: 25px solid red;
}

