/* 为什么不生效 */
.pages{
    border: 1px black solid;

}

/* 选择器不用加.，因为a是属性，不是类 */
a:link{
    background-color: yellow;
    font-size: 20px;
    /* 为什么不生效 */
    border: 1px black dashed;
    margin: 10px;
    padding: 10px;
}

a:visited {
    color:#00FF00;
    border: 10px black solid;

}

.ref::before {
    font-weight: bold;
    color: navy;
    content: "Reference";
    /* 为什么不生效，内联元素 */
    border: 1px black solid;

  }