
body {
    max-width: 960px;
    margin: auto;
}


/* 为什么不生效 */
.part{
    /* border: 1px black dashed; */
    margin: 5px;

}

.header{
    background: #dddddd;
}

.back {
    display: block;
    /* box-sizing: border-box; */
    float: right;

}

.example_unit {
    border: grey dashed 1px;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
    /* 在box-sizing为border-box的情况下，width为百分比和固定的px的效果差异比较大 */
    width: 20%;
}


/* 选择器不用加.，因为a是属性，不是类 */
/* link是伪类还是伪元素？ */
a:link{
    color: black;
    background-color: yellow;
    font-size: 20px;
    /* 为什么不生效 */
    border: 1px black dashed;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    /* 这里修改效果后的变化很大 */
    display: inline-block;
    text-decoration: none;
}

a:visited {
    color: grey;
    border: 10px black solid;

}

.ref::before {
    font-weight: bold;
    color: navy;
    content: "Reference";
    /* 为什么不生效，内联元素
    为什么又生效了？*/
    border: 1px black solid;

  }