
/* .timelines {
    position: relative;
    display: block;
} */

.timelines .timeline {
    background: #eeeeee;
    padding: 50px;
    margin-top: 50px;
    width: 20%;
    border: 1px solid black;
}

 .timelines .timeline.current_timeline {
    background: #6e5cc1;
}

.timelines .timeline.right_timeline{
    background: yellowgreen;
}



/*
.timelines .right_timeline {
    float: right;
    clear: right;
}

.timelines .left_timeline {
    float: left;
    clear: left;
} 
*/

#a {
    float: left
}

#b {
    /* float: right */
    /* clear: left; */
    float: left;
    clear: left;
}

#c {
    float: right;
    /* clear: right; */
}

#d {
    float: right;
    clear: right;
}