body{
    padding:0;
    margin:0;
    font-family: "droid-sans", "stheiti", 'hei', 'Hiragino Sans GB', "microsoft yahei", sans-serif;
}


.cover{
    color: white;
    background: url('images/image.jpg');
    position: absolute; /*位置如何理解*/
}

.div{
    margin: 20px;
}